/* Quiz.css */
.question-navigation-buttons {
  margin-top: 10px;
  align-items: center;
  text-align: center;
  
   
}

.question-navigation-buttons button {
  margin-right: 30px;
  align-items: center; 
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font: bold;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #50586C;
  color: #DCE2F0;
  display: inline-block;
}
.question-navigation-buttons button:hover {
  background-color: #07553B; 
}

.question-container {
  text-align: center;
  margin: 80px;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  
  
}
.p{
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider-container {
  position: relative;
  size: 40px;
}

.dots-container {
  display: flex;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  justify-content: space-evenly;
  margin-top: 2px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
}

.dot.filled {
  background-color: #3f51b5; 
}

.slider-values {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2px;
}

.slider-values span {
  width: 20px;
  text-align: center;
  color: #333;
}


input[type="range"] {
  width: 69%; 
  height: 45px;
  margin: 0; 
}
h1 {
  text-align: center;
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #A25772;
  font-family: Arial, Helvetica, sans-serif;
  font: bolder;
  font-style: inherit;
  
}
body{
  background-color: #EEF5FF;
}
h3{
  color: #7C93C3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
